<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>User List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-responsive table-striped">
        <thead>
          <tr>
            <th>UserName</th>
            <th>Email</th>
            <th>Role</th>
            <th>action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users | async">
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.roles[0].roleName}}</td>
            <td><button (click)="deleteUser(user.id)" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-info" style="margin-left: 10px" (click)="goToDetail(user.id)">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
