<div class="container">
    <header class="jumbotron">
     <table class="table table-responsive table-striped">
       <thead>
        <tr>
          <th>UserName</th>
          <th>Email</th>
          <th>Role</th>
          <th>action</th>
        </tr>
       </thead>
       <tbody>
       <tr>
         <td> {{content.username}}</td>
         <td> {{content.email}}</td>
         <td> {{content.roles[0].roleName}}</td>
         <td>
         <button type="button" class="btn btn-info" (click)="goToDetail(content.id)">Details</button>
       </td>
       </tr>
       </tbody>
     </table>
    </header>
  </div>
